body {
	margin: 0;
  	text-align: center;
  	background-color: #353b48
}


.splash {
    margin-top: -35px;
    background-color: white;
    height: 150px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.game-name {
	margin-top: 60px;
	font-size: 35px;
	display: flex;
	justify-content: center;
	font-family: 'Poppins', sans-serif;
}

.game {
	background-color: #353b48
}

h2 {
	margin-bottom: 5px;

}

.score {
	color: #ffff;
	display: flex;
	justify-content: center;
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
}

.player-score {
	margin-right: 75px;
}

.computer-score {
	margin-left: 20px;
}

.player-score p {
	margin-left: 20px;
}

.computer-score p {
	margin-left: 50px;
}

.score p {
	margin-top: 10px;
	display: flex;
	justify-content: center;
	text-align: center;
	border: 2px solid #c23616;
	background-color: #c23616;
	width: 60px;
	border-radius: 10%;
	font-size: 15px
}

.score p p {
	margin-left: 0;

}

.hand {
	margin-top: 35px;
	font-size: 150px;
	background-color: #353b48;
	border: none;
	cursor: pointer;
	transition: 1s;
	margin-right: 20px;	
}

.hand:hover {
	transform: scale(1.2);
	border: none;
}

.message {
	color: #ffff;
	margin-top: 55px;
	font-size: 30px;
	display: flex;
	justify-content: center;
	font-family: 'Poppins', sans-serif;
	height: 30px;
}

/* Media */
@media (max-width: 767px) {

	.game-name {
	 font-size: 25px;
	}
	
	h2 {
 	 margin-bottom: 5px;
 	 font-size: 22px;
	}

	.hand {
	 font-size: 10px;
	}

	.hand img {
	 width: 100px;
	 height: 100px;
	}

	.message {
	 font-size: 15px;
	}

	.computer-score p {
	 margin-left: 25px;
	}

	.player-score p {
	 margin-left: 5px;
	}
	
}